{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": ["*.liquid"],
      "options": {
        "liquidSingleQuote": true,
        "liquidPreserveNewlines": true,
        "liquidIndentHtml": true
      }
    }
  ]
}